body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1c7eda;
    padding: 1rem;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

main {
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

button {
    padding: 5px 10px;
    margin-top: 5px;
}

.login-container {
    text-align: center;

} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.animal-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.animal-title {
    margin-bottom: 20px;
    color: #333;
}

.animal-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.animal-table th, .animal-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.animal-table th {
    background-color: #f2f2f2;
    color: #555;
}

.animal-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.styled-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.styled-button-header {
    background-color: #1c7eda;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.styled-button-header:hover {
    background-color: #0056b3;
}

.styled-button:hover {
    background-color: #0056b3;
}

.map-title {
    background-color: #0056b3;
}

.map-container {
    background-color: #0056b3;
}

